<div class="sidebar">
    <div ng-show="showSidebar && !online">
        <mq-offline></mq-offline>
    </div>

    <div ng-show="showSidebarLoading && online">
        <span us-spinner="{radius: 30, width: 8, length: 16, hwaccel: true, top: '56px'}"></span>
    </div>

    <div ng-show="showSidebar && online">

        <div class="accountSummary" ng-show="login.showLogout">
            <p ng-controller="greetingsController">
                <mq-greetings greeting="greeting" togreet="login.gamer.first_name || login.gamer.name || 'guest player'"></mq-greetings>
            </p>

            <p ng-controller="quizcoinsController">
                <span ng-show="login.gamer.picture.data.url" class="gamerPicture">
                    <img ng-src="{{login.gamer.picture.data.url}}" class="img-rounded">
                </span>
                <mq-quizcoinsbalance balance="quizCoins"></mq-quizcoinsbalance>
            </p>

            <p>
                You are not {{login.gamer.first_name || login.gamer.name}}? 
                <a href="/#logout" class="btn btn-default btn-xs">Logout</a>
            </p>
        </div>

        <mq-facebooklogin></mq-facebooklogin>

        <div class="notifications" ng-show="notifications.collection.length > 0">
            <div ng-repeat="notification in notifications.collection" 
                    class="alert alert-dismissible" role="alert"
                    ng-class="{
                        'alert-info': notification.type == 'info',
                        'alert-danger': notification.type == 'danger',
                        'alert-warning': notification.type == 'warning',
                        'alert-success': notification.type == 'success'
                    }">
                <span class="close" data-dismiss="alert"
                        ng-click="notifications.remove($index)">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span><span class="sr-only">Close</span>
                </span>
                <p>
                    <span class="glyphicon" 
                            ng-class="{
                                'glyphicon-info-sign': notification.type == 'info',
                                'glyphicon-ban-circle': notification.type == 'danger',
                                'glyphicon-warning-sign': notification.type == 'warning',
                                'glyphicon-check': notification.type == 'success'
                            }"></span> 
                    <strong>{{notification.title}}</strong>
                </p>
                <p>{{notification.message}}</p>
            </div>
        </div>

        <mq-facebookads></mq-facebookads>
    </div>
</div>