// List group.
.list-group {
    .list-group-item {

        &.list-group-item-success {
            color: $state-success-text;
            background-color: $state-success-bg;
        }

        &.list-group-item-warning {
            color: $state-warning-text;
            background-color: $state-warning-bg;
        }

        &.list-group-item-danger {
            color: $state-danger-text;
            background-color: $state-danger-bg;
        }

    }
}