<section class="col-lg-9 col-md-8 col-sm-8 col-xs-12">

    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span><span class="sr-only">Close</span></button>
        <h2>
            <span class="glyphicon glyphicon-ban-circle"></span> 
            Page not found
        </h2>
        <p>Sorry, but the page you were trying to view does not exist.</p>
        <p>It looks like this was the result of either:</p>
        <ul>
            <li>a mistyped address</li>
            <li>an out-of-date link</li>
        </ul>
    </div>

    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span><span class="sr-only">Close</span></button>
        <h2>
            <span class="glyphicon glyphicon-info-sign"></span>
            Suggested solution
        </h2>
        <ul>
            <li>Go back to the homepage to <a href="/" class="alert-link">play all quizzes</a></li>
            <li><a href="http://google.com" class="alert-link">Search on Google</a> for what you where trying to find.</li>
            <li>If you are certain the page you tried to load should work, please <a href="#contact" class="alert-link"><span class="glyphicon glyphicon-envelope"></span> get in touch</a>.</li>
        </ul>
    </div>

</section>