<div class="container">
    <div class="row">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h2>
                <span class="glyphicon glyphicon-ban-circle"></span> 
                Page not found
            </h2>
            <p>Sorry, but the page you were trying to view <strong>does not exist</strong>.</p>
            <p>It looks like this was the result of either:</p>
            <ul>
                <li>a mistyped address</li>
                <li>an out-of-date link</li>
            </ul>
        </div>

        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h2>
                <span class="glyphicon glyphicon-info-sign"></span>
                Suggested solution
            </h2>
            <ul>
                <li>Go back to the <a href="/">homepage</a></li>
                <li><a href="http://google.com">Search on Google</a> for what you where trying to find.</li>
            </ul>
        </div>

    </div>
</div>
