<p class="filter">
    <input type="search" class="form-control input-lg" placeholder="Find quizzes">
</p>

<div class="list-group">
    <a href="#" class="list-group-item">
        First featured quiz question-title?
        <span class="badge pull-right">5 Quiz Coins</span>
    </a>
    <a href="#" class="list-group-item list-group-item-danger">
        Second featured quiz question-title?
        <span class="badge pull-right">5 Quiz Coins lost</span>
    </a>
    <a href="#" class="list-group-item list-group-item-success">
        Third featured quiz question-title?
        <span class="badge pull-right">14 Quiz Coins won</span>
    </a>
    <a href="#" class="list-group-item">
        First most played quiz question-title?
        <span class="badge pull-right">12 Quiz Coins</span>
    </a>
    <a href="#" class="list-group-item list-group-item-warning">
        Second most played quiz question-title?
        <span class="badge pull-right">2 Quiz Coins won</span>
    </a>
    <a href="#" class="list-group-item">
        First latest quiz question-title?
        <span class="badge pull-right">5 Quiz Coins</span>
    </a>
    <a href="#" class="list-group-item">
        Second latest quiz question-title?
        <span class="badge pull-right">6 Quiz Coins</span>
    </a>
</ol>

<div class="text-center">
    <ul class="pagination">
        <li><a href="#first">&laquo;</a></li>
        <li><a href="#1">1</a></li>
        <li><a href="#2">2</a></li>
        <li><a href="#3">3</a></li>
        <li><a href="#4">4</a></li>
        <li><a href="#5">5</a></li>
        <li><a href="#last">&raquo;</a></li>
    </ul>
</div>
