<aside class="col-lg-3 col-md-4 col-sm-4 col-xs-12" ng-show="showSidebar || !online">

    <mq-offline></mq-offline>

    <div ng-show="online">
        <div class="panel panel-info" ng-show="login.showLogout">
            <div class="panel-heading">
                {{greeting}} {{login.gamer.first_name || login.gamer.name}}.
            </div>
            <div class="panel-body">
                <p>
                    <a href="/#quiz-coins-account" class="label" 
                            ng-class="{
                                'label-info': quizCoins.balance >= quizCoins.danger, 
                                'label-danger': quizCoins.balance < quizCoins.danger
                            }">{{quizCoins.balance | number:0}} Quiz Coins</a>
                </p>

                You are not {{login.gamer.first_name || login.gamer.name}}? 
                <a href="/#logout" class="btn btn-default btn-xs">Logout</a>
            </div>
        </div>

        <mq-facebookloginbutton></mq-facebookloginbutton>


        <div class="notifications" ng-show="notifications.collection.length > 0">
            <div ng-repeat="notification in notifications.collection" 
                    class="alert alert-dismissible" role="alert"
                    ng-class="{
                        'alert-info': notification.type == 'info',
                        'alert-danger': notification.type == 'danger',
                        'alert-warning': notification.type == 'warning',
                        'alert-success': notification.type == 'success'
                    }">
                <span class="close" data-dismiss="alert"
                        ng-click="notifications.remove($index)">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span><span class="sr-only">Close</span>
                </span>
                <p>
                    <span class="glyphicon" 
                            ng-class="{
                                'glyphicon-info-sign': notification.type == 'info',
                                'glyphicon-ban-circle': notification.type == 'danger',
                                'glyphicon-warning-sign': notification.type == 'warning',
                                'glyphicon-check': notification.type == 'success'
                            }"></span> 
                    <strong>{{notification.title}}</strong>
                </p>
                <p>{{notification.message}}</p>
            </div>
        </div>

        <mq-facebookads></mq-facebookads>
    </div>

</aside>