<div class="container">
    <div class="page-header">
        <h1>Music Quiz</h1>
        <p class="lead">Music Quiz is a game that leverages the Decibel API to ask questions about music.</p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Don't have your free account yet?</h2>
            <p>It's quick and easy to create your free account.</p>
            <p>
                <a href="#signup" type="button" class="btn btn-primary">Free account</a>
            </p>
        </div>
        <div class="col-md-4">
            <form class="form-signin">
                <h2 class="form-signin-heading">Sign in</h2>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email address" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required>
                </div>

                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>

                <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-in"></span> Sign in</button>
            </form>
        </div>
    </div>
</div>