<div class="container">
    <div class="page-header">
        <h1>Music Quiz</h1>
        <p class="lead">Music Quiz is a game that leverages the Decibel API to ask questions about music.</p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Do you already have an account?</h2>
            <p>You can sign in if you already have an account.</p>
            <p><a href="#signin" type="button" class="btn btn-primary btn-lg">Sign in</a></p>
        </div>
        <div class="col-md-4">
            <form class="form-signup">
                <h2 class="form-signup-heading">Free account</h2>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Full name" required autofocus>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email address" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required>
                </div>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>

                <p>Your e-mail is safe, it will never be sold to anyone. Ever.</p>
                <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span> Sign up</button>
            </form>
        </div>
    </div>
</div>