<div class="container">
    <div class="page-header">
        <h1>Account sign in</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>You don't have your free account yet?</h2>
            <p>It's quick and easy to create your free account.</p>
            <p><a href="#signup" type="button" class="btn btn-default">Free account</a></p>
            <p>Once you have created your account, you can play this Music Quiz game.</p>
        </div>
        <div class="col-md-4">
            <form class="form-signin panel panel-primary">
                <div class="panel-heading"><h2>Sign in</h2></div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email address" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required>
                    </div>

                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>

                    <div class="form-group">
                        <button class="btn btn-lg btn-primary" type="submit"><span class="glyphicon glyphicon-log-in"></span> Sign in</button>
                    </div>

                    <p>Have you <a href="#forgotten-signin">forgotten your sign in</a> details?</p>
                </div>
            </form>
        </div>
    </div>
</div>