body {
    @include default-fonts;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    @include default-fonts;
    font-weight: bold;
}

h1, .h1 {
    font-size: em(24, 14); 
}

h2, .h2 {
    font-size: em(22, 14);
}

h3, .h3 {
    font-size: em(20, 14);
}

h4, .h4 {
    font-size: em(18, 14);
}

h5, .h5 {
    font-size: em(14, 14);
}

h6, .h6 {
    font-size: em(12, 14);
}